<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:fragment="header-css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>header_blue</title>
        <link rel="stylesheet"
              href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    </div>
</head>

<body>
<nav class="navbar navbar-inverse" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">[[#{application.name}]]</a>

        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{'/'}">[[#{menu.home}]]</a></li>
            <li><a href="#">[[#{menu.about}]]</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{'/addnewuser'}">[[#{menu.users.signup}]]</a></li>
            <li><a th:href="@{'/login'}">[[#{menu.users.login}]]</a></li>
        </ul>

    </div>

</nav>
<script
        src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script
        src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>

