<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>User Managment</title>
<div th:replace="fragmentes/header :: header-css" />
</head>
<body>
<div th:replace="fragmentes/header :: header" />
<div class="container my-2">
    <h1 th:text="${showText}"></h1>
    <a th:href="@{/showNewUserForm}" class="btn btn-primary btn-sm mb-3">Add New User</a>
    <a th:href="@{/users}" class="btn btn-primary btn-sm mb-3"> Show User</a>


</div>
</body>
</html>