<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<div th:replace="fragmentes/header :: header-css" />
</head>
<body>
<div th:replace="fragmentes/header :: header" />
<div class="container">
	<div class="row">
		<div class="rol-md-6">
			<a th:href="@{'/add_product'}">
				<div class="panel panel-seccess">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-ok">
						</span>
					</div>
					<div class="panel-body">
					Add neues Product
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
</body>
</html>